.card-new-form {
  background-color: rgb(235, 235, 235);
  padding: 30px;
}

.nav-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 24px;
  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
}
